<div class="d-flex justify-content-center research-datatable margin-left-right">
    <div class="w-50 input-research">
        <span><i class="fas fa-search"></i></span>
        <input type="text" placeholder="Rechercher" class="ml-2 research">
    </div>
</div>